{% extends 'index.html' %}

{% load static %}


<!DOCTYPE html>
<html>
<title>About Me </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'my_page.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<style>
  html,
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Roboto", sans-serif
  }

  .csl {
    background-color: rgb(20, 173, 166);
  }

  a {
    color: white;
    width: 12rem;
    font-size: large;

  }

  .w3-bar .w3-button {
    padding: 16px;
  }

  .AA {
    background-color: rgb(24, 29, 29);
  }

  .sizes {
    font-size: 3rem;
    font-family: Impact;
    font-style: bold;
    text-shadow: darkslategrey;
  }

  .calll {
    text-shadow: 2px 2px 5px black;
    color: white;
  }

  .call{
    font-size: 3rem;
    font-family: Impact;
    font-style: bold;
    text-shadow: darkslategrey;
    text-shadow: black;
    margin-top: 12px;




  }
</style>

<body>
  {% block contact%}


  <!-- Page Container -->
  <div class="w3-content " style="max-width:1400px;">
    <div> <center class="call"> <u>Certificates</u></center></div>
    <!-- The Grid -->
    <div class="w3-row-padding" style="margin-top: 70px;">

      <!-- Left Column -->
      <div class="w3-third">


        <div class="w3-white w3-text-grey w3-card-4">
          <div class="w3-display-container">
            <img src="{% static 'images/aakash.PNG' %}" style="width:100%" alt="Avatar">
            <div class="w3-display-bottomleft w3-container w3-text-black">
              <h2 style="text-shadow: 2px 2px 5px black;
            color:white;">Aakash Panda</h2>
            </div>
          </div><br><br>
          <div class="w3-container">
            <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Programmer</p>
            <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>India, Mumbai</p>
            <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal "></i>aakashpanda81@gmail.com</p>
            <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>8369653058</p>
            <hr>


            <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
            <p>C Programming</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:70%">70%</div>
            </div><br>

            <p>C++</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:65%">65%</div>
            </div><br>

            <p>PYTHON</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:70%">70%</div>
            </div><br>

            <p>HTML</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">
                <div class="w3-center w3-text-white">90%</div>
              </div>
            </div><br>

            <p>DJANGO 2.X</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:85%">85%</div>
            </div><br>

            <p>CSS</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:75%">75%</div>
            </div><br>

            <p>BOOTSTRAP 4</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">80%</div>
            </div>
            <br>
            <p>CSS</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:75%">75%</div>
            </div><br>

            <p>SQL</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:65%">65%</div>
            </div><br>

            <p>JAVASCRIPT</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:85%">85%</div>
            </div><br>
            <p>TEAM BUILDING</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:85%">85%</div>
            </div><br>

            <p>MS OFFICE</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">50%</div>
            </div><br>

            <p>TIME MANAGEMENT</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:70%">70%</div>
            </div><br>

            <hr class="AA">
            <p class="w3-large w3-text-theme"><b><i
                  class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
            <p>HINDI</p>
            <div class="w3-light-grey w3-round-xlarge">
              <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
            </div><br>
            <p>ENGLISH</p>
            <div class="w3-light-grey w3-round-xlarge">
              <div class="w3-round-xlarge w3-teal" style="height:24px;width:70%"></div>
            </div><br>
            <p>MARATHI</p>
            <div class="w3-light-grey w3-round-xlarge">
              <div class="w3-round-xlarge w3-teal" style="height:24px;width:60%"></div>
            </div><br>
            <p>ORIYA</p>
            <div class="w3-light-grey w3-round-xlarge">
              <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
            </div>
            <br>
          </div>
        </div><br>

        <!-- End Left Column -->
      </div>

      <!-- Right Column -->

      <div class="w3-twothird ">
        <!--info-->
        <div class="w3-container w3-card w3-black w3-margin-bottom">
          <h2 class=" w3-padding-16" style="margin-left: 12px ; text-shadow: 2px 2px 5px black;
            color:white; ">Aakash Panda</h2>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>Bachelor Of Computer Applications</b></h5>
            <hr style="background-color: blanchedalmond; width :16rem">
            <h6 class="w3-text-teal"></i>Avid leaner and well disciplined
              <!--<span class="w3-tag w3-teal w3-round">Current</span>-->
            </h6>

          </div>

        </div>
        <!--info end-->


        <!--Education-->

        <div class="w3-container w3-card w3-white">
          <h2 class="w3-text-grey w3-padding-16"><i
              class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>Bachelor Of Computer Applications</b></h5>
            <p>Patkar-Varde College, Goregaon (West)</p>
            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>06/2018 - Present</h6>

            <hr>
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>Grade Xll </b></h5>
            <p>Vidya Vikas Universal College , Malad</p>
            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>07/2016 - 05/2018</h6>

            <hr>
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>Grade X</b></h5>
            <p>St. Theresa High School</p>
            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2016</h6>
            <br>
          </div>
        </div>
        <!--Education end-->
        <br>
        <!--Work Experience-->
        <div class="w3-container w3-card w3-white w3-margin-bottom">
          <h2 class="w3-text-grey w3-padding-16"><i
              class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>Front End Developer & Back End Developer of / ANANTA RESOURCE MANAGEMENT PVT LTD
                COMPANY..</b></h5>
            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2019
              <!--<span class="w3-tag w3-teal w3-round">Current</span>-->
            </h6>

            <hr>
          </div>

        </div>
        <!--Work Experience end-->

        <!--Certificates-->
        <div class="w3-container w3-card w3-white w3-margin-bottom">
          <h2 class="w3-text-grey w3-padding-16"><i
              class="fa fa-certificate w3-margin-right w3-xxlarge w3-text-teal"></i>Certificates</h2>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>Python Programming (09/2018)</b></h5>
            <p>Python Programming From Scratch Online Course</p>
            <hr>
            <h5 class="w3-opacity"><b>Html</b></h5>
            <p>Html Online Course</p>
            <hr>
            <h5 class="w3-opacity"><b>Bootstrap 4</b></h5>
            <p>Bootstrap 4 Online Course</p>
            <hr>
            <h5 class="w3-opacity"><b>Javascript</b></h5>
            <p>Javascript Online Course</p>
            <hr>
          </div>

        </div>
        <!--Certificates end-->

        <!--Personal Projects-->
        <div class="w3-container w3-card w3-white w3-margin-bottom">
          <h2 class="w3-text-grey w3-padding-16"><i
              class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Personal Projects</h2>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>Portfolio (2019 - Present)</b></h5>
            <hr>
            <h5 class="w3-opacity"><b>Blog</b></h5>
            <hr>
            <h5 class="w3-opacity"><b>Website Of Information About BCA Course</b></h5>
            <hr>
            <h5 class="w3-opacity"><b>Simple Railway Ticket Booking Website </b></h5>
            <hr>
          </div>

        </div>
        <!--Personal Projects end-->

        <!--Achievements-->
        <div class="w3-container w3-card w3-white w3-margin-bottom">
          <h2 class="w3-text-grey w3-padding-16"><i
              class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Achievements</h2>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>3rd in drama on social crisis held in churhgate. </b></h5>
            <hr>
          </div>

        </div>
        <!--Achievements end-->

        <!--Interests-->
        <div class="w3-container w3-card w3-white w3-margin-bottom">
          <h2 class="w3-text-grey w3-padding-16"><i
              class="fa fa-asterisk fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Interests</h2>
          <div class="w3-container">
            <h5 class="w3-opacity"><b> Playing Team Sprot </b></h5>
            <hr>
            <h5 class="w3-opacity"><b> Watching TV </b></h5>
            <hr>
            <h5 class="w3-opacity"><b> Travelling </b></h5>
            <hr>
            <h5 class="w3-opacity"><b> Reading Books </b></h5>
            <hr>
            <h5 class="w3-opacity"><b> Love To Do Coding</b></h5>
            <hr>

          </div>

        </div>
        <!--Interests end-->
        <!-- End Right Column -->
      </div>

      <!-- End Grid -->
    </div>

    <!-- End Page Container -->
  </div>

  {%endblock contact%}

</body>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</html>